<app-top-bar title="usuario" subTitle="Form">
  <div toolL>

  </div>
  <div toolR>

  </div>
</app-top-bar>

<div class="jumbotron">
  <div class="row mt-5">
    <div class="col-md-12">
      <form [formGroup]="frmusuario" (ngSubmit)="saveForm()" class="kt-form kt-form--label-right">
        <mat-card class="example-card">
          <mat-card-header class="adjust-m-bottom-30">
            <mat-card-title>{{frmTitle}}</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="row">

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>nombre</mat-label>
                  <input matInput class="text-capitalize" type="text" formControlName="nombre" autocomplete="off">
                </mat-form-field>
                <div class="control-label" *ngIf="frmusuario.controls.nombre.invalid && (frmusuario.controls.nombre.dirty || frmusuario.controls.nombre.touched)">

                  <!-- Field Required Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.nombre.errors.required">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Field required</label>
                  </div>

                  <!-- MaxLength Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.nombre.errors.maxlength">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Maximum field length is 35</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>apellido</mat-label>
                  <input matInput class="text-capitalize" type="text" formControlName="apellido" autocomplete="off">
                </mat-form-field>
                <div class="control-label" *ngIf="frmusuario.controls.apellido.invalid && (frmusuario.controls.apellido.dirty || frmusuario.controls.apellido.touched)">

                  <!-- Field Required Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.apellido.errors.required">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Field required</label>
                  </div>

                  <!-- MaxLength Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.apellido.errors.maxlength">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Maximum field length is 35</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>email</mat-label>
                  <input matInput class="text-capitalize" type="text" formControlName="email" autocomplete="off">
                </mat-form-field>
                <div class="control-label" *ngIf="frmusuario.controls.email.invalid && (frmusuario.controls.email.dirty || frmusuario.controls.email.touched)">

                  <!-- Field Required Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.email.errors.required">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Field required</label>
                  </div>

                  <!-- MaxLength Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.email.errors.maxlength">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Maximum field length is 80</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>dni</mat-label>
                  <input matInput class="text-capitalize" type="text" formControlName="dni" autocomplete="off">
                </mat-form-field>
                <div class="control-label" *ngIf="frmusuario.controls.dni.invalid && (frmusuario.controls.dni.dirty || frmusuario.controls.dni.touched)">

                  <!-- Field Required Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.dni.errors.required">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Field required</label>
                  </div>

                  <!-- Only integer numbers Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.dni.errors.pattern">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Only integer numbers</label>
                  </div>
                  <div class="validation-adjust" *ngIf="frmusuario.controls.dni.errors.min">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Minimum value is -2147483648</label>
                  </div>
                  <div class="validation-adjust" *ngIf="frmusuario.controls.dni.errors.max">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Maximum value is 2147483647</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>id_rol</mat-label>
                  <input matInput class="text-capitalize" type="text" formControlName="id_rol" autocomplete="off">
                </mat-form-field>
                <div class="control-label" *ngIf="frmusuario.controls.id_rol.invalid && (frmusuario.controls.id_rol.dirty || frmusuario.controls.id_rol.touched)">

                  <!-- Field Required Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.id_rol.errors.required">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Field required</label>
                  </div>

                  <!-- Only integer numbers Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.id_rol.errors.pattern">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Only integer numbers</label>
                  </div>
                  <div class="validation-adjust" *ngIf="frmusuario.controls.id_rol.errors.min">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Minimum value is -2147483648</label>
                  </div>
                  <div class="validation-adjust" *ngIf="frmusuario.controls.id_rol.errors.max">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Maximum value is 2147483647</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>ciclo</mat-label>
                  <input matInput class="text-capitalize" type="text" formControlName="ciclo" autocomplete="off">
                </mat-form-field>
                <div class="control-label" *ngIf="frmusuario.controls.ciclo.invalid && (frmusuario.controls.ciclo.dirty || frmusuario.controls.ciclo.touched)">

                  <!-- Only integer numbers Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.ciclo.errors.pattern">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Only integer numbers</label>
                  </div>
                  <div class="validation-adjust" *ngIf="frmusuario.controls.ciclo.errors.min">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Minimum value is -2147483648</label>
                  </div>
                  <div class="validation-adjust" *ngIf="frmusuario.controls.ciclo.errors.max">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Maximum value is 2147483647</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>password</mat-label>
                  <input matInput class="text-capitalize" type="text" formControlName="password" autocomplete="off">
                </mat-form-field>
                <div class="control-label" *ngIf="frmusuario.controls.password.invalid && (frmusuario.controls.password.dirty || frmusuario.controls.password.touched)">

                  <!-- Field Required Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.password.errors.required">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Field required</label>
                  </div>

                  <!-- MaxLength Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.password.errors.maxlength">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Maximum field length is 25</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>estado</mat-label>
                  <input matInput class="text-capitalize" type="text" formControlName="estado" autocomplete="off">
                </mat-form-field>
                <div class="control-label" *ngIf="frmusuario.controls.estado.invalid && (frmusuario.controls.estado.dirty || frmusuario.controls.estado.touched)">

                  <!-- Only integer numbers Message Validation -->
                  <div class="validation-adjust" *ngIf="frmusuario.controls.estado.errors.pattern">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Only integer numbers</label>
                  </div>
                  <div class="validation-adjust" *ngIf="frmusuario.controls.estado.errors.min">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Minimum value is -2147483648</label>
                  </div>
                  <div class="validation-adjust" *ngIf="frmusuario.controls.estado.errors.max">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Maximum value is 2147483647</label>
                  </div>
                </div>
              </div>


            </div>
          </mat-card-content>

          <mat-card-actions align="end">
            <button mat-raised-button class="light" type="button" [routerLink]="['/dbo/usuario']">Cancel</button>

            <button mat-raised-button class="primary" type="submit">
              <i class="fa fa-save"></i> Save
            </button>
          </mat-card-actions>
        </mat-card>
      </form>

    </div>
  </div>
</div>

