<app-top-bar title="mencion" subTitle="Form">
  <div toolL>

  </div>
  <div toolR>

  </div>
</app-top-bar>

<div class="jumbotron">
  <div class="row mt-5">
    <div class="col-md-12">
      <form [formGroup]="frmmencion" (ngSubmit)="saveForm()" class="kt-form kt-form--label-right">
        <mat-card class="example-card">
          <mat-card-header class="adjust-m-bottom-30">
            <mat-card-title>{{frmTitle}}</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="row">

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>id_facultad</mat-label>
                  <input matInput class="text-capitalize" type="text" formControlName="id_facultad" autocomplete="off">
                </mat-form-field>
                <div class="control-label" *ngIf="frmmencion.controls.id_facultad.invalid && (frmmencion.controls.id_facultad.dirty || frmmencion.controls.id_facultad.touched)">

                  <!-- Field Required Message Validation -->
                  <div class="validation-adjust" *ngIf="frmmencion.controls.id_facultad.errors.required">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Field required</label>
                  </div>

                  <!-- Only integer numbers Message Validation -->
                  <div class="validation-adjust" *ngIf="frmmencion.controls.id_facultad.errors.pattern">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Only integer numbers</label>
                  </div>
                  <div class="validation-adjust" *ngIf="frmmencion.controls.id_facultad.errors.min">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Minimum value is -2147483648</label>
                  </div>
                  <div class="validation-adjust" *ngIf="frmmencion.controls.id_facultad.errors.max">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Maximum value is 2147483647</label>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>nombre</mat-label>
                  <input matInput class="text-capitalize" type="text" formControlName="nombre" autocomplete="off">
                </mat-form-field>
                <div class="control-label" *ngIf="frmmencion.controls.nombre.invalid && (frmmencion.controls.nombre.dirty || frmmencion.controls.nombre.touched)">

                  <!-- Field Required Message Validation -->
                  <div class="validation-adjust" *ngIf="frmmencion.controls.nombre.errors.required">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Field required</label>
                  </div>

                  <!-- MaxLength Message Validation -->
                  <div class="validation-adjust" *ngIf="frmmencion.controls.nombre.errors.maxlength">
                    <i class="material-icons text-danger">
                      error
                    </i>
                    <label class="validation-text text-danger">Maximum field length is 45</label>
                  </div>
                </div>
              </div>


            </div>
          </mat-card-content>

          <mat-card-actions align="end">
            <button mat-raised-button class="light" type="button" [routerLink]="['/dbo/mencion']">Cancel</button>

            <button mat-raised-button class="primary" type="submit">
              <i class="fa fa-save"></i> Save
            </button>
          </mat-card-actions>
        </mat-card>
      </form>

    </div>
  </div>
</div>

